<!DOCTYPE html>
<html>
    <head>
        <title>Formulário de envio de mensagem</title>
    </head>
    <body>
        <form method="post" action="process_enviar.cshtml">
                    <p>Nome: </p>
            <input type="text" name="text_name" placeholder="Teu nome"/>
            <br />
            <p>Email: </p>
            <input type="text" name="text_email" placeholder="Teu email" />
            <br />
            <p>Assunto: </p>
            <input type="text" name="text_assunto" placeholder="Assunto da mensagem" />
            <br />
            <p>Mensagem</p>
            <textarea rows="6" cols="20" name="text_mensagem"></textarea>
            <br />
            <input type="submit" value="Enviar mensagem" />
        </form>
        
    </body>
</html>
