body {
    margin: 0px;
    padding: 0px;
    padding: 10px;
    background-color: rgb(200,200,200);
}

.header{
   background-color:#fff;
    display:flex;
}
.header_logotipo{

    flex:0 0 15%;
}
.header_logotipo img{
   
   width:100%;
   height:70px;
}
.header_links{

    flex: 1;
    text-align:right;
    padding-top:20px;
}
.header_links p a{
    font-size:18px;
    color:#333;
   
}
.foother{
    padding: 10px;
    background-color: #fff;
   text-align:center;
   color:red;
}