<!DOCTYPE html>
<html>
<head>
    <title>Micro de Fórun</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @RenderPage("_header.cshtml")
    <div class="container">

        @RenderBody()


    </div>
    @RenderPage("_foother.cshtml")

</body>
</html>
